.tagcloud {
    border: 1px solid #cccccc;
    border-radius: .2em;
    padding: .2em;
}

ul.activeTags {
    list-style: none;
    margin: 0;
}

ul.activeTags li {
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-align: center;
    margin: .1em;
    padding: .2em .2em .2em 20px;
    display: inline;
    background: #fefefe url(../icons/delete.png) no-repeat left;
    font-size: 90%;
}

ul.activeTags li:hover {
    box-shadow: 0.2em 0.2em 0.2em #666;
}

ul.activeTags li a {
    text-decoration: none;
}

ul.activeTags li a:hover {
    text-decoration: none;
}

.activeTagsContainer {
    border-left: .3em solid #ccc;
    padding: .3em;
}

.activeTagsContainer p {
    font-weight: bold;
    margin: 0 0 .1em;
}
